<pageheader></pageheader>
<div class="container">
  <form role="form" name="formTransaction">
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input type="text" name="descricao" class="form-control" id="descricao" ng-model="descricao"  required>
    </div>
    <div class="form-group">
      <label for="valor">R$:</label>
      <input type="text" class="form-control" id="valor" ng-model="valor" class="money" required>
    </div>
    <div class="form-group">
      <label for="data">Vencimento:</label>
      <input type="text" class="form-control" id="data_vencimento" ng-model="data_vencimento" class="data" required/>
    </div>
    <div class="form-group">
      <label for="descricao">Código de Barras</label>
      <input type="text" name="codigo_barra" class="form-control" id="codigo_barra" ng-model="codigo_barra" >
    </div>
    <div class="form-group">
      <label for="descricao">Comentário</label>
      <input type="text" name="comentario" class="form-control" id="comentario" ng-model="comentario" >
    </div>
    <div>
     <button type="button" class="btn btn-default" ng-click="addConta()">Gravar</button>
   </div>
  </form>
</div>

<div class="container" style="margin-top:20px">
  <table class="table table-bordere">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Pago</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat="item in contas">
        <td>{{item.descricao}}</td>
        <td>R$ {{item.valor}}</td>
        <td>{{item.data_vencimento}}</td>
        <td><input type="checkbox" ng-checked="item.pago" id="{{item._id}}"  ng-click="pagarConta(item._id)"></td>
        <td><a class="fa fa-trash" ng-click="deleteConta(item._id)"></a></td>

    </tbody>

  </table>
  <div>
    <label style="color:red" >Valor Pendente: R$ {{valorPendente}}
  </div>
</div>
