<pageheader></pageheader>
<div class="container">
    <div class="col-sm-12">
        <div class="row">
        <div class="col-sm-offset-4 col-sm-2">
            <a href="/#/movimento">
            <div class="button-box button-box-green">
            <span><i class="fa fa-money fa-5x" aria-hidden="true"></i></span>
                <div>
                    MOVIMENTAÇÃO
                </div>
            </div>
        </a>
        </div>
        <div class="col-sm-2">
            <a href="/#/contas">
                <div class="button-box button-box-green">
                    <span><i class="fa fa-barcode fa-5x" aria-hidden="true"></i></span>
                    <div>
                        CONTAS
                    </div>
                </div>
            </a>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-2">
                <a href="/#/graficos">
                    <div class="button-box button-box-green">
                        <span><i class="fa fa-pie-chart fa-5x" aria-hidden="true"></i></span>
                        <div>
                            GRÁFICOS
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/#/ofximport">
                    <div class="button-box button-box-green">
                        <span><i class="fa fa-upload fa-5x" aria-hidden="true"></i></span>
                        <div>
                            IMPORTAÇÃO
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
