<div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Entrar no Expense</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus ng-model="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required ng-model="senha">
        
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="logarUsuario();">Entrar</button>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="criarconta();" >Criar Conta</button>
      </form>
</div> 