<pageheader></pageheader>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form role="form" name="formTransaction">
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" name="descricao" class="form-control" id="descricao" ng-model="descricao"  required>
                </div>
                <div class="form-group">
                    <label for="valor">R$:</label>
                    <input type="text" class="form-control" id="valor" ng-model="valor" class="money" required>
                </div>
                <div class="form-group">
                    <label for="data">Data:</label>
                    <input type="text" class="form-control" id="data" ng-model="data" class="data" required/>
                </div>
                <div>
                    <button type="button" class="btn btn-success" ng-click="addGasto()">Gravar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
        <div style="margin-top: 7px">
            <button  class="btn btn-primary btn-block" data-toggle="collapse" data-target="#filtros">Filtros</button>
        </div>
        <div id="filtros" class="collapse container">
            <div style="padding-bottom: 10px">&nbsp;</div>
            <div class="row">
                <div class="form-group">
                    <label for="data_inicial">Início</label>
                    <input type="text" id="data_inicial" class="form-control" ng-model="data_inicio"/>
                </div>
                <div class="form-group">
                    <label for="data_final">Fim</label>
                    <input type="text" id="data_final" class="form-control" ng-model="data_fim"/>
                </div>
            </div>
            <div class="row">
                <button  class="btn btn-primary btn-block"  ng-click="loadGasto()">Aplicar</button>
            </div>
        </div>
        <div style="padding-bottom: 10px">&nbsp;</div>
    </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div>
            <label style="color:red" >Total Gasto: R$ {{valorTotal}}</label>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="item in transacoes">
                    <td>{{item.descricao}}</td>
                    <td>R$ {{item.valor}}</td>
                    <td>{{item.data}}</td>
                    <td><a id="{{item._id}}" href="#" ng-click="mostrarDialogCategoria(item._id);$event.stopPropagation();">{{item.categoria}}</a> </td>
                    <td><a class="fa fa-trash" ng-click="deleteGasto(item._id)"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>







    <div class="container">
        <div id="modalCategoria" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Categoria</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                                <div ng-repeat="item in categorias" class="col-sm-3">
                                    <div class="categoria-btn">
                                    <a ng-click="updateCategoria(item._id)">{{item._id}}</a>
                                    </div>
                                    </div>
                        </div>
                        <form>
                            <div class="form-group">
                                <input id="txtCategoria" type="text" class="form-control"  placeholder="Categoria" ng-model="categoria">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="updateCategoria()">Gravar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
