<div class="container">
    <form role="form">
        <div class="form-group">
    <label for="nome">nome</label>
    <input type="nome" class="form-control" id="nome" ng-model="nome">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" ng-model="email">
  </div>
  <div class="form-group">
    <label for="pwd">Senha</label>
    <input type="password" class="form-control" id="pwd" ng-model="senha">
  </div>
  
  <button type="submit" class="btn btn-primary btn-block" ng-click="cadastrarUsuario();">Criar Conta</button>
</form>
 </div>