<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
      <a class="navbar-brand" href="#/">
       Cadastro
      </a>
      
       <a class="navbar-brand" href="#/graficos">
       Gráficos
      </a>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <input id="txtperiodo" type="text" class="form-control" ng-model="periodo">
        </div>
        <button type="submit" class="btn btn-default" ng-click="filtrar();">Filtrar</button>
    </form>
    
  </div>
</nav>