<nav class="navbar navbar-inverse">
  <div class="container-fluid">

      <a class="navbar-brand" href="#/">
       Transações
      </a>

      <a class="navbar-brand" href="#/contas">
      Contas
      </a>
       <a class="navbar-brand" href="#/graficos">
       Gráficos
      </a>
        <a class="navbar-brand" href="#/ofximport">
       Importar
      </a>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <input id="txtperiodo" type="text" class="form-control" ng-model="periodo">
        </div>
        <button type="submit" class="btn btn-default" ng-click="filtrar();">Filtrar</button>
    </form>
       <a class="navbar-brand navbar-right" href="#/" ng-click="sair();">
       Sair
      </a>

  </div>
</nav>
